$body-bg: #fefefe;

$text-color: #444;
$text-muted: #888996;

$font-family: "Roboto", Helvetica, sans-serif;
$font-size-base: 18px;

$border-color: #ddd;
$border-size: 1px;
$border-radius: 5px;
$border: $border-size solid $border-color;

$gutter: 25px;
$padding: 20px;
$margin: $padding;

$primary: #54d7e2;
$success: #8da648;
$warning: #e4c643;
$danger: #f38484;
$info: #54d7e2;

$darken: 0.175;

$colors: (
  "primary": $primary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
  "info": $info
);
