:global {
  * {
    box-sizing: border-box;
    outline: 0;
  }

  html,
  body,
  #app {
    background: $body-bg;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size-base;
    font-weight: 300;
    height: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
  }

  #app {
    display: flex;
    flex-direction: column;
  }

  section {
    h1 {
      font-size: 22px;
      margin-top: 0;
    }
  }

  b {
    font-weight: 500;
  }
}
