.dados-pagamento{

    width: 35vw;
    border: solid 1px gray;
    border-radius: 5px;

    padding: {
        top: 3%;
        bottom: 3%;
        left: 3%;
        right: 3%;
    }
    
    margin: {
        left: 3%;
    }

    .title{
        color: gray;
    }
}