.dados-produto {
  background-color: white;
  
  .camp {
    padding: {
      top: 1.7vw;
      bottom: 1vw;
    }
  }

  .card {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  .dados-pgto {
    background-color: gray;
    padding: 1.5vw; //margem da tabela
    width: 17vw;
  }

  .produto img {
    width: 5vw;
    height: 5vw;
    border: solid 2px gray;
    border-radius: 10px;
    margin: {
      top: 1vw;
      left: 1vw;
    }
  }
}
