* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 93vw;
    margin: auto;
}

.box-dados{
    display: flex;
    justify-content: space-between;
}

.dados{
    display: flex;
    justify-content: space-between;

    .valor-desconto{
        color: red;
    }

    .valor-total{
        color: green;
    }
}

.status-circle{
    background-color: red;
}
.App{
    background-color: red;
}

.produto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: auto;

    .nome-e-foto {
      padding: 1vw;
    }
  }

  .sku {
    width: 10vw;
  }
  .qtd {
    width: 10vw;
  }
  .preco {
    width: 20vw;
  }
