$container-width: 100%;

$borderColor: #CCC;
$ordertitle: #79889c;
$colorDelivery: #9fbb2c;

$fontSizeOrder: 14px;
$fontWeightOrder: 400;

$border: 1px solid;

$headeHeight: 90px;

$marginContent: 0 30px;

$colorFont: #453c3c;
