@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

html, body {
  min-height: 100%; }

body {
  background: #f5f5f536;
  -webkit-font-smoothing: antialiased !important;
  font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif; }

.content {
  width: 100%;
  margin: 0 auto; }

.headerBar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #453c3c;
  margin: 0 auto;
  height: 80px;
  box-sizing: content-box;
  margin: 0 30px; }
  .headerBar .orderBorder {
    display: flex;
    align-items: center;
    width: 285px;
    height: 90px;
    border-right: 1px solid #CCC; }

.contentHeader {
  margin: 10px 0; }
  .contentHeader header {
    display: flex;
    width: 100%;
    float: left;
    margin: 0 80px; }
  .contentHeader header div {
    margin-right: 70px;
    height: 100px; }
  .contentHeader header p.dataHeader {
    margin-top: 20px;
    font-size: 14px; }
  .contentHeader header div:nth-child(3) {
    margin: 0; }
  .contentHeader h3 {
    color: #79889c;
    padding-bottom: 20px; }

.deliveries {
  display: flex;
  margin-top: -10px; }
  .deliveries p {
    margin-right: 10px;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid #9fbb2c;
    color: #9fbb2c; }

.orderContent {
  height: 206px; }
  .orderContent ul {
    width: 35%;
    margin-top: 20px; }
    @media screen and (max-width: 1024px) {
      .orderContent ul {
        width: 70%; } }
  .orderContent::after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #CCC;
    display: inline-block;
    vertical-align: middle; }

.statusColumn {
  display: flex;
  align-items: center; }
  .statusColumn p {
    text-transform: lowercase; }
    .statusColumn p::first-letter {
      text-transform: uppercase; }
  .statusColumn .dotStatus, .statusColumn .dotStatus2, .statusColumn .dotStatus3 {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 15px; }
    .statusColumn .dotStatus::before, .statusColumn .dotStatus2::before, .statusColumn .dotStatus3::before {
      content: '';
      border-radius: 50%;
      width: 17px;
      height: 17px;
      display: inline-block; }
  .statusColumn .dotStatus {
    background: #ebbc06; }
    .statusColumn .dotStatus::before {
      border: 2px solid #b58e53; }
  .statusColumn .dotStatus2 {
    background: #4ea91f; }
    .statusColumn .dotStatus2::before {
      border: 2px solid #06521a; }
  .statusColumn .dotStatus3 {
    background: #0aa3ad; }
    .statusColumn .dotStatus3::before {
      border: 2px solid #088c96; }

.orderContent .contentHeader {
  display: flex; }
  .orderContent .contentHeader div {
    flex-grow: 1; }

.customerContent {
  width: 62%; }

.paymentContent {
  width: 35%; }

.customerContent, .paymentContent, .orderInfos, .contenSpace {
  margin: 0 auto;
  color: #453c3c;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 1px 0px 0px rgba(0, 0, 0, 0.14), 1px 0px 5px 0px rgba(0, 0, 0, 0.12); }
  .customerContent h2, .customerContent .statusOrder > h2, .paymentContent h2, .paymentContent .statusOrder > h2, .orderInfos h2, .orderInfos .statusOrder > h2, .contenSpace h2, .contenSpace .statusOrder > h2 {
    font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #79889c;
    font-weight: 100; }

.statusOrder > h2 {
  font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #79889c;
  font-weight: 100; }

.customerContent ul, .paymentContent ul {
  list-style: none; }

.contentDetails div, .contentPayment div, .contOrderInfo div {
  margin: 20px 0 20px 0; }

.contentDetails p, .contentPayment p, .contOrderInfo p {
  margin-top: 5px; }

.contentDetails div h2 {
  margin-top: 35px; }

.contentPayment div {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.mainCustomerContent {
  display: flex;
  margin: 0 10px;
  height: 390px; }

.borderTotal {
  border-bottom: 3px solid #ddd;
  height: 70px; }

.discountColor {
  color: #de7676; }

.totalColor {
  color: #60b560; }

.orderInfos, .orderDetails {
  width: 97.5%;
  margin: 30px auto; }
  .orderInfos .contOrderInfo, .orderDetails .contOrderInfo {
    display: flex; }
    .orderInfos .contOrderInfo div, .orderDetails .contOrderInfo div {
      margin-right: 250px; }
    .orderInfos .contOrderInfo span, .orderDetails .contOrderInfo span {
      text-transform: lowercase; }

.orderDetails {
  margin-bottom: 50px; }

.elemntUi {
  display: flex;
  margin: 0 auto;
  color: #453c3c;
  border-top-left-radius: 10px;
  border: 1px solid #ddd;
  border-top-right-radius: 10px;
  border-bottom: 1px solid #ddd; }
  .elemntUi p.delivC {
    color: green; }

.elemntUi > div {
  margin-top: 20px; }

.statusOrder {
  display: flex;
  flex-direction: column;
  margin: 0 40px; }

.contDeliInfo {
  display: flex;
  flex-wrap: wrap; }
  .contDeliInfo p {
    margin-top: 5px; }

.contDeliInfo div {
  width: 22%;
  margin-top: 10px; }

.btn {
  width: 95px;
  height: 95px;
  background-color: #ddd;
  border: none;
  position: static;
  border-radius: 10px 0 0 0px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 30px; }

