* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

html, body {
  min-height: 100%; }

body {
  background: #f5f5f536;
  overflow: hidden; }

.content {
  width: 100%;
  margin: 0 auto; }

.headerBar {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #463c3c;
  margin: 0 auto;
  border-bottom: 1px solid #CCC;
  height: 90px;
  box-sizing: content-box; }
  .headerBar .orderBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 90px;
    border-right: 1px solid #CCC; }

.contentHeader {
  margin: 10px 0; }
  .contentHeader nav {
    display: flex;
    width: 100%;
    float: left;
    margin: 0 80px; }
  .contentHeader nav div {
    margin-right: 70px;
    height: 100px; }
  .contentHeader nav span.dataHeader {
    margin-top: 20px;
    font-size: 14px; }
  .contentHeader nav div:nth-child(3) {
    margin: 0; }
  .contentHeader h3 {
    color: #79889c;
    margin-bottom: 20px; }

.deliveries span {
  margin-right: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #33970f;
  color: #33970f; }
