@import './settings.global.scss';

body, html {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: var(--black);
  text-align: left;
  background-color: var(--white);
}

header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid #ccc;
}

header > h1 {
  display: flex;
  padding: 5px 10px;
  height: 70px;
  color: #444;
  font-weight: 600;
  width: 32%;  
  font-size: 18px;
  align-items: center;
  text-align: left;
  border-right: 1px solid #ccc;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1400px;
}

.flex-container > * {
  flex: 1 100%;
}

input[type=text] {
  font-size: 1rem;
  font-weight: 300;
  background-clip: padding-box;
  transition: all .2s ease;
  outline: 0;
  -webkit-appearance: none;
  width: 100%;
  resize: none;
  padding: 0.6rem;
  border: 1px solid var(--gray);
  margin-bottom: 2rem;
}

input:hover, input:focus {
  transition: all .2s ease;
  cursor: auto;
}

@media (max-width: 620px) {
  article {
    max-width: 90%;
  }

  header {
    max-width: 90%;
    padding: 1% 3%;
  }

  .flex-container {
    margin: 0.5rem auto;
  }

  .leaflet-container {
    height: 200px;
    width: 100%;
  }
}