@import './partials/variables.scss';
@import './partials/reset.scss';
@import './partials/header.scss';
@import './partials/dadoscliente.scss';
@import './partials/dadospagamento.scss';
@import './partials/dadospedido.scss';
@import './partials/entrega.scss';
@import './partials/dadosproduto.scss';
@import './partials/table.scss';
@import './partials/dadosentrega.scss';