.collapse {
  background: $body-bg;
  border: $border;
  border-radius: $border-radius;
  box-shadow: 0 0 2px;
  display: inline-block;

  width: 100%;
}

.header {
  border-bottom: $border;

  .content {
    display: flex;
    padding: $padding 0;
  }

  .button {
    background: $bg;
    position: relative;
    width: 4rem;
    margin-right: $padding;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: $border;

    &::after {
      @include square(10px);
      border: solid $border-color;
      border-width: 0 4px 4px 0;
      content: "";
      display: inline-block;
      vertical-align: middle;

      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
  }
}

.content {
  padding: $padding;

  > h2:first-child {
    margin: 0;
  }
}
