.collapse {
  background: $body-bg;
  border: $border;
  border-radius: $border-radius;
  box-shadow: 0 0 2px;

  &:not(.open) {
    .header {
      border-bottom: 0;
      transition: all 0s ease-in;
      transition-delay: 0.3s;
    }
  }

  .header {
    border-bottom: $border;

    .content {
      display: flex;
      padding: $padding 0;
    }

    .button {
      align-items: center;
      background: $bg;
      border-right: $border;
      cursor: pointer;
      display: flex;
      justify-content: center;
      margin-right: $padding;
      position: relative;
      width: 4rem;

      &:hover {
        background: darken($color: $bg, $amount: $darken * 100);
      }

      &::after {
        @include square(10px);
        border: solid $border-color;
        border-width: 0 4px 4px 0;
        content: '';
        display: inline-block;
        transform: rotate(-135deg);
        transition: transform 0.3s ease-in;
        vertical-align: middle;

        @at-root .open#{&} {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.content-wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in;

  .content {
    padding: $padding;

    > h2:first-child {
      margin: 0;
    }
  }
}
