.header {
  .breadcrumb {
    border: $border;
    display: flex;
    font-weight: bolder;

    .item {
      border-right: $border;
      padding: $gutter;
      padding-right: #{$gutter * 2};
    }
  }

  .badge {
    margin-right: 0.5em;
  }

  .container {
    display: flex;
    padding: $padding;
    > div {
      margin-right: $margin;
    }
  }
}
