$size: 80px;
$stroke: 10px;

.ring {
  @include square($size);
  display: inline-block;
  position: relative;

  span {
    @include square($size * 0.75);
    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: $stroke solid $primary;
    border-color: $primary transparent transparent transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    position: absolute;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
